*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/java/tech/michaeloverman/android/popularmovies/utilities/MOVIE_DB_KEY.java
libs/
src/main/res/drawable/
